/* Styles go here */

h3 { 
    display: block;
    font-size: 1.17em;
    font-weight: bold; 
    padding: 5px;
    padding-top: 20px;
}
p{  
    padding: 5px; 
    margin-top: 2px; 
    }

.mat-list-item {
    margin: 35px;
}
li{
    margin-top: 20px;
    list-style: none;
}
div {
    margin-top: 25px;
}