/* Styles go here */

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.excerpt{  
    border: 2px ;
    padding: 5px;  
    }