<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center" *ngIf="user">{{user.name}}'s Posts</h3>
    <div></div>
    <ul *ngFor="let post of userData">
        <li>
        <!-- <tr *ngIf="userData"> -->
          <span><b>{{post.title}}</b></span>
        
          <span>{{post.body}}</span>
        </li>
      </ul>
    <div style = "margin-top: 5px">
      <input type="button" class="btn btn-primary" (click)="onBackButtonClick()" value = "Back to list">
    </div>
    
  </div>
</div>
