<div class="container custom-container-2">

 
  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="User.length !== 0">
    <h3 class="mb-3 text-center">Users List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of User">
            <td><span class="" routerLink="/user-details/:{{user.id}}">{{user.id}}</span></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.company.name}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>