.custom-container {
  max-width: 500px;
}

.custom-container-2 {
  max-width: 800px;
}

.table-bordered td {
  font-size: 14px;
}

.edit {
  margin-right: 10px;
}

.edit,
.delete {
  cursor: pointer;
  display: inline-block;
  color: blue
}

.no-data {
  padding-top: 50px;
}

.no-data p {
  font-size: 27px;
  color: rgba(0, 0, 0, .5);
  letter-spacing: .2px;
  padding-bottom: 10px;
}